
* {
	margin: 0;
	padding: 0;
	border: 0;
}

/*Font*/
h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 2em;
	text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 1em;
}

h4 {
	font-size: 1em;
	padding-bottom: 2px;
	border-bottom: 1px solid black;
	text-align: left;
}

h5 {
	font-size: 1.2em;
	font-weight: 600;
}

p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
	line-height: 1.5em;
}

a {
	text-decoration: none;
	color: black;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1em;
}

#navbar {
	position: fixed;
	width: 100%;
	height: 70px;
	top: 0;
	background-color: #424242;
	display: flex;
  	transition: top 0.3s;
	z-index: 3;
}

.logo_box {
	width: 90%;
}

.logo_box img {
	width: 90px;
	height: auto;
	padding: 10px;
}

.navbar_toggle {
	position: relative;
  display: block;
  cursor: pointer;
	vertical-align: middle;
	margin: auto;
}

.navbar_toggle {
 right: 20px;
 width: 45px;
 height: 45px;
 z-index: 20;
 cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #A5D6A7;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* -------------- DEMO ------------ */

.nav_hide,
.navbar_toggle {
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.nav_hide {
 position: fixed;
 z-index: 10;
 background-color: rgba(33, 33, 33, 0.95);
 width: 100%;
 top: 69px;
 height: 100%;
 text-align: center;
 color: white;
 display: none;
	
 -webkit-transition: width 2s;
 -webkit-transition-timing-function: ease-in-out;
 transition-timing-function: ease-in-out;
  transition: width 2s;
}


.nav_hide nav {
 width: 100%;
 text-align: center;
 margin-top: 250px;
	text-transform: uppercase;
}

.nav_hide nav ul {
 display: block;
 list-style: none;
 vertical-align: middle;
 text-align: center;
 margin: auto;
 width: 100%;
}


.nav_hide nav ul li a {
 font-size: 3em;
 color: inherit;
 font-weight: 600;
 line-height: 1.6em;
 text-decoration: none;
}

.nav_hide nav ul li a:hover {
 color: #D7FFD9;
}

.nav_hide #socialmedia {
	display: block;
	width: 90%;
	margin: 300px auto 0;
}
#socialmedia ul li {
	float: right;
	list-style-type: none;
	width: 20%;
}

#socialmedia li a img {
	height: 30px;
	width: auto;
}

.alert {
  padding: 30px 20px;
  background-color: #f44336;
  color: white;
  position: fixed;
  z-index: 2;
  bottom: 0;
	right: 0;
	display: none;

}

.alert a {
	color: white;
}

.alert a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 30px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/*MAIN CONTENT*/

main {
	margin: 100px 5% 40px;
	text-align: center;
}

.overskrift {
	width: 100%;
	margin-bottom: 60px;
}

@media only screen and (max-height: 900px){
	
	.alert {
		display: hidden;
	}
}

@media only screen and (max-height: 850px){
	
	.nav_hide nav {
		margin-top: 90px;
	}
	
	main {
		margin: 80px 10px 40px;
	}
}

@media only screen and (max-height: 700px){
	.nav_hide #socialmedia{
		margin: 150px auto 0;
	}
	
	.nav_hide nav {
		margin-top: 100px;
	}
}

@media only screen and (max-height: 570px){
	.nav_hide #socialmedia{
		margin: 100px auto 0;
	}
}



