@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	text-align: center;
}

/*Font*/
h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 2em;
	text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 1em;
}

h4 {
	font-size: 1em;
	padding-bottom: 2px;
	border-bottom: 1px solid black;
	text-align: left;
}

h5 {
	font-size: 1.2em;
	font-weight: 600;
}

p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5em;
}

a {
	text-decoration: none;
	color: black;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1em;
}

/*header og navigation styles*/

header {
	width: 100%;
	background-color: #424242;
	text-align: center;
}

#logo_container {
	padding-top: 5px;
}

nav {
	text-transform: uppercase;
	background-color: #424242;
}

nav ul {
	text-decoration: none;
	list-style-type: none;
	width: 100%;
}

nav li {
	width: 25%;
	float: left;
}

nav li a {
	background-color: #424242;
	display: block;
	color: white;
	padding: 14px 0;
	font-family: 'Raleway', sans-serif;
	font-size: 1.1em;
	font-weight: 500;
	text-decoration: none;
}


/*Stylesheet for hover navigation*/

nav li a:hover {
	background-image: url("../image/navigation_background.png");
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: left;
	background-size: 15px;
	text-decoration: none;
	cursor: pointer;
	color: rgba(255,255,255,0.60);
	transition: 0.4s;
}

/*Du skal ændre på padding, så polygonen er placeret rigtigt*/

#hjem {
	padding: 14px 35.5%;
}

#projekter {
	padding: 14px 29%;
}

#erfaringer {
	padding: 14px 28%;
}

#kontakt {
	padding: 14px 31.5%;
}

.active {
	color: #93AE75;
	text-decoration: none;
}

/*Main styles*/
main {
	max-width: 1400px;
	margin: 2.5% 10% 5%;
	width: 80%;
	display: inline-block;
}

.overskrift {
	width: 100%;
	margin-bottom: 60px;
}


/*Footer styles*/

footer {
	background: #424242;
	width: 90%;
	display: flex;
	padding: 40px 5%; /*SKAL RETTES EFTER HVAD MARGIN BLIVER*/
	position: relative;
}

footer .footer_text {
	width: 50%;
	color: white;
	text-align: left;
	line-height: 2em;
}

.footer_text a {
	color: white;
	text-decoration: underline;
}

.footer_text a:hover {
	opacity: 0.8;
	cursor: pointer;
}

#socialmedia {
	width: 50%;
}

#socialmedia ul li {
	float: right;
	list-style-type: none;
}

#socialmedia li a img {
	width: auto;
	height: 30px;
	margin: 0 20px;
}

/*Styles for mobilvisning, når skærmen er under 900px*/

#mobilbesked {
	display: none;
	position: absolute;
	background-color: #a5d6a7;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 0 0 10%;
	margin-left: 0;
	z-index: 9999;
}

#mb1 {
	height: 20%;
	width: 100%;
}

#mb2 {
	height: 20%;
	width: 100%;
}

#mb2 .box_logo {
	height: 60%;
	width: auto;
}

#mb3 {
	height: 30%;
	width: 100%;
}

#mb3 p {
	padding: 20% 0 5%;
	width: 70%;
	margin: auto;
}

#mb3 button {
	padding: 40px 30px;
	border: 1px solid black;
	width: auto;
	border-radius: 50%;
}


/*Credits styles*/
#credits_box h5 {
	margin-bottom: 0;
}

#credits_box .credit_in {
	margin-bottom: 10px;
}

#credits_box a:hover {
	text-decoration: underline;
	opacity: 0.8;
}


/*Media query for navigationen*/

@media only screen and (max-width: 1300px) {
	#hjem {
	padding: 14px 35%;
	}

	#projekter {
	padding: 14px 27%;
	}

	#erfaringer {
	padding: 14px 25%;
	}

	#kontakt {
	padding: 14px 30%;
	}
	
	#socialmedia {
		width: 40%;
	}
	
	footer p {
		width: 60%;
	}
	
	#socialmedia li a img {
		margin: 0 10px;
	}
}

@media only screen and (max-width: 1100px) {
	#hjem {
	padding: 14px 30%;
	}

	#projekter {
	padding: 14px 22%;
	}

	#erfaringer {
	padding: 14px 20%;
	}

	#kontakt {
	padding: 14px 25%;
	}
}

@media only screen and (max-width: 900px) {
	header {
		display: none;
	}
	
	footer {
		display: none;
	}
	
	#mobilbesked {
		display: inherit;
	}
}