@charset "utf-8";
/* CSS Document */

main {
	display: inline-flex;
	justify-content: space-between;
}

.box1 {
	display: flex;
	width: 50%;
}

.box1 img {
	height: 500px;
	width: 400px;
}

#box1_indhold {
	background-color: #a5d6a7;
	width: 255px;
	height: auto;
	position: absolute;
	top: 280px;
	left: 700px;
	padding: 20px 25px;
	box-shadow: 2px 2px 2px #202424;
	transition: ease-in-out;
	color: black;
}

#box1_indhold h3 {
	margin-bottom: 1em;
}

.box-2 {
	display: inline-block;
	width: 400px;
	background: #D7FFD9;
	margin-top: 20px;
}

.box-2-in {
	display: block;
	width: 100%;
	height: 33%;
	padding-left: 20px;
	text-align: left;
}


.box-2-in:first-of-type {
	margin-top: 20px;
}

.socialmedia a img {
	width: auto;
	height: 30px;
	margin: 0 10px;
}

@media only screen and (max-width: 2050px) {
	#box1_indhold{
		left: 620px;
	}
}

@media only screen and (max-width: 1880px) {
	#box1_indhold {
	top: 260px;
	left: 560px;
	}
}

@media only screen and (max-width: 1700px) {
	#box1_indhold {
	top:240px;
	left: 500px;
	}
}

@media only screen and (max-width: 1370px) {
	
	#box1_indhold {
		visibility: hidden;
	}
	
	.box1 img {
		width: 320px;
		height: 400px;
	}
}